<h1>This is the description of: <font color='red'>{{viewDescript.name}} </font></h1>


<div class="descriptions">
    <p>{{viewDescript.description}}</p>
    <div>
        <h3>{{> nav}}</h3>
    </div>
    <center><img src="img.png" height="300" width="600"></center>
    <a href="/projects/{{dir}}/">Launch</a>
</div>
