* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    height: 70px;
    background-color: orange;
}

#main {
    display: flex;
    justify-content: center;
    align-items: ;
}

#footer {
    height: 30px;
    background-color: pink;
    margin: 0;
}
