<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>


        <h1 align = 'center'>My funny projects</h1>
        <hr>

        {{{body}}}






    </body>
</html>
